/* import section  */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow&display=swap');
/* import section  */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

/* var section  */
:root {
    --main-color: #fb503b;
    --secondary-color: #142eb5;
    --extra-font: 'Barlow', sans-serif;
}

/* var section  */

/* utilities classes */
.button {
    border-radius: 25px;
    font-weight: 700;
    padding: 7px 30px;
    text-decoration: none;
    font-size: 18px;
    font-family: var(--extra-font);
}

/* here started the hero image over code  */
.hero-image-over-item {
    position: absolute;
    background-color: #fff;
    display: flex;
    align-items: center;
    font-weight: bold;
    z-index: 2;
    border-radius: 10px;
    padding: 15px;
    font-family: var(--extra-font);
}

.hero-image-over-item .item-name {
    font-size: 17px;
    font-weight: bold;
    line-height: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.hero-image-over-item .count {
    font-size: 40px;
    margin-right: 10px;
    color: #50c5f0;
    font-family: Arial, Helvetica, sans-serif;
}

/* here ended the hero image over code  */

.def-m-p {
    margin: 80px 0px;
    padding: 80px 0px;
}

.section-title span {
    color: var(--main-color);
    font-size: 20px;
    font-weight: 600;
    font-family: var(--extra-font);
}

.section-title h3 {
    line-height: 1.25;
    margin-bottom: 20px;
    font-size: 35px;
    font-weight: bold;
    font-family: var(--extra-font);
}

/* utilities classes */


/* default code  */

a {
    text-decoration: none;
    color: #000;
}

/* default code  */


/* bootstrap overridden classes */
.container {
    width: 70%;
}

.progress {
    height: 8px;
}

.progress-bar {
    background-color: var(--secondary-color);
}

.row{
    width: 100%;
}
/* bootstrap overridden classes */



/* *********************************code started******************************* */



/* hero section started here  */
.hero {
    width: 100%;
    height: 100vh;
    position: relative;
    background-image: url(../img/hero/1.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.hero .hero-nav-btn {
    background-color: var(--main-color);
    color: #fff;
    transition: 0.6s ease;
}

.hero .hero-nav-btn:hover {
    color: #fff;
    background-color: var(--secondary-color);
    border: none;
}

.hero .navbar {
    height: 100px;
}

.hero .navbar .nav-item {
    margin: 0px 15px;
}

.hero .nav-item a {
    font-weight: bold;
    color: #fff !important;
    font-family: var(--extra-font);
}


.hero .content {
    height: 75vh;
}



/* hero first section started here  */
.hero .content .first {
    height: 75vh;
}



.hero .content .first .name {
    color: #fff;
    font-size: 65px;
    font-family: var(--extra-font);
    font-weight: bold;
}

.hero .content .first .hello {
    color: #fff;
    font-weight: bold;
    font-size: 30px;
}

.hero .content .first .job {
    font-size: 22px;
    margin-bottom: 25px;
    color: #fff;
    font-weight: bold;
    font-family: var(--extra-font);
}

.hero .content .first .hero-text {
    margin-bottom: 30px;
    color: #fff;
    font-size: 18px;
}

.hero .content .quote-btn {
    background-color: var(--secondary-color);
    padding-top: 15px;
    padding-bottom: 15px;
    transition: 0.4s ease-in-out;
    color: #fff;
}

.hero .content .quote-btn:hover {
    color: #fff;
    background-color: var(--main-color);
    border: none;
}

.hero .content .buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 250px;
}

.hero .content .about-me-button {
    color: #fff;
    font-weight: bold;
}

/* hero first section ended here  */


/* hero second section started here  */
.hero .second .second-content {
    position: relative;
    width: 100%;
    height: 75vh;

}

.hero .second .second-content img {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    width: 360px;
    height: 400px;
    border-radius: 10px;
}

.hero .second .second-content .success {
    top: 25%;
    left: 10%;
}

.hero .second .second-content .projects {
    top: 60%;
    right: -15%;
}

.hero .second .second-content .projects .count {
    color: var(--main-color);
    position: relative;
}

.hero .second .second-content .projects .plus {
    position: absolute;
    font-size: 25px;
}

.hero .second .second-content .projects .item-name {
    margin-left: 10px;
}

.hero .second .second-content .trophy {
    top: 10%;
    right: -5%;
}

.hero .second .second-content .trophy i {
    font-size: 40px;
    color: #FE9923;
}

/* hero section ended here  */

/* features section started here  */
.features-section .container .row .top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.features-section .container .row .top .header .name {
    font-family: var(--extra-font);
    font-weight: bold;
    font-size: 22px;
}

.features-section .container .row .top .header .number {
    font-family: var(--extra-font);
    color: var(--main-color);
    font-weight: bold;
}

.features-section .container .row .top .icon i {
    font-size: 40px;
    color: var(--secondary-color);
}

.features-section .container .row .bottom {
    text-align: justify;
}

.features-section .container .row .feature-box {
    padding: 0px 20px;
}

.features-section .container .row .feature-box hr {
    margin: 40px 0px;
    transition: 1s;
}

.features-section .container .row .feature-box hr:hover {
    border: 1px solid #000;
}

/* features section ended here  */


/* about section started here  */
.about-section .container .left {
    padding: 0px 60px 0px 0px;

}

.about-section .container .left .left-content {
    position: relative;
}

/* This portion of css apply all of i element in .left-content */
.about-section .container .left .left-content i {
    position: absolute;
    color: #fff;
    padding: 20px;
    border-radius: 10px;
}

/* This portion of css apply all of i element in .left-content */

.about-section .container .left .left-content .fa-wordpress {
    top: -40px;
    right: -40px;
    background-color: #007095;
    font-size: 60px;
}

.about-section .container .left .left-content .fa-laravel {
    top: 86px;
    left: -106px;
    background-color: #FB503B;
    font-size: 40px;
}

.about-section .container .left .left-content .fa-shopify {
    bottom: -36px;
    left: 269px;
    background-color: #96bf48;
    font-size: 50px;
}

.about-section .container .left img {
    width: 100%;
    border-radius: 15px;
}

.about-section .container .right {
    padding: 0px 0px 0px 60px;
}

.about-section .container .right .title span {
    font-size: 20px;
    font-family: var(--extra-font);
    color: var(--main-color);
    font-weight: 600;
}

.about-section .container .right .title h3 {
    font-size: 35px;
    font-weight: 600;
    color: #000;
    line-height: 1.25;
    font-family: var(--extra-font);
    word-spacing: 3px;
}

.about-section .container .right .body p {
    margin: 20px 0px 50px 0px;
    font-size: 16px;
    color: #54545f;
    line-height: 26px;
}

.about-section .container .right .body .button {
    background-color: var(--secondary-color);
    color: #fff;
    padding-top: 15px;
    padding-bottom: 15px;
    transition: 0.4s ease-in-out;
}

.about-section .container .right .body .button:hover {
    background-color: var(--main-color);
}

/* about section ended here  */


/* here started the portfolio section  */


/* here started the count section  */
.portfolio .count-section .col {
    display: flex;
    align-items: center;
    width: 350px;
}

.portfolio .count-section .col .count {
    position: relative;
    height: 100px;
    color: var(--main-color);
}

.portfolio .count-section .col .count .num {
    font-size: 60px;
    font-family: var(--extra-font);
    font-weight: bold;
    margin-right: 25px;
}

.portfolio .count-section .col .count .plus {
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 33px;
    font-family: var(--extra-font);
    font-weight: bold;
}

.portfolio .count-section .col .name {
    font-size: 23px;
    font-family: var(--extra-font);
    font-weight: bold;
    line-height: 1.7rem;
}

/* here ended the count section  */

/* here started the main portfolio section  */

.main-portfolio-section {
    margin-top: 80px;
    padding-top: 80px;
}

.main-portfolio-section .title span {
    color: var(--main-color);
    font-size: 20px;
    font-weight: 600;
}

.main-portfolio-section .title h3 {
    line-height: 1.25;
    margin-bottom: 20px;
    font-size: 35px;
    font-weight: bold;
}


/* content section  */
.main-portfolio-section .content {

    display: flex;
    align-items: center;
    flex-direction: column;

}

.main-portfolio-section .content .portfolio-item {
    width: 70%;
    height: 430px;
    color: #fff;
    position: relative;
    border-radius: 30px;
    margin: 30px 0px;
}

.main-portfolio-section .content .portfolio-item .details-left {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 30%;
    left: 10%;
}

.main-portfolio-section .content .portfolio-item .details-right {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 30%;
    right: 10%;
}

.main-portfolio-section .content .portfolio-item .project-name {
    font-family: var(--extra-font);
    font-size: 18px;
    font-weight: 600px;
    color: var(--main-color);
}

.main-portfolio-section .content .portfolio-item .project-tagline {
    font-size: 36px;
    color: #fff;
    font-family: var(--extra-font);
    font-weight: bold;
}

.main-portfolio-section .content .portfolio-item .project-btn {
    color: #fff;
}

.main-portfolio-section .content .portfolio-item .portfolio-image {
    position: absolute;
    width: 100%;
    height: 430px;
    border-radius: 30px;
    transition: transform 0.4s;
}

.main-portfolio-section .content .portfolio-item .portfolio-image:hover {
    transform: scale(1.1);

}

/* content section  */

/* here ended the main portfolio section  */

/* here ended the portfolio section  */



/* here started the my skills section  */
.my-skills .content .skills-item {
    margin: 30px 0px;
    padding: 0px 30px;
}

.my-skills .content .skills-item .title {
    display: flex;
    justify-content: space-between;
}

.my-skills .content .skills-item .title .name {
    font-weight: 600;
    font-family: var(--extra-font);
    font-size: 18px;
}


.my-skills .content .skills-item .title .percentage {
    color: var(--main-color);
    font-family: var(--extra-font);
    font-weight: bold;
    font-size: 18px;
}


.my-skills .content .skills-item .progress {
    margin-top: 10px;
}

/* here ended the my skills section  */


/* here started my services section  */

.services{
    margin-bottom: 80px;
    padding-bottom: 80px;
}
.services .container .row{
    overflow: hidden;
    border-radius: 20px;
}
.services .container .item{
    height: 450px;
    padding: 50px;
    transition: 0.4s ease-in-out;
}
.services .container .item:hover{
    background-color: var(--main-color);
}
.services .container .item i{
    font-size: 100px;
    color: #fff;
}
.services .container .item h2{
    color: #fff;
    margin: 30px 0px;
    font-family: var(--extra-font);
    font-weight: 700;
}

.services .container .item p{
    color: #fff;
    line-height: 2.5rem;
}

.services .container .first{
    background-color: #6E7FD1;
}
.services .container .second{
    background-color: #343C55;
}
.services .container .third{
    background-color: var(--secondary-color);
}
.services .container .fourth{
    background-color: #6B97D3;
}
/* here ended my services section  */

/* here started the testimonial section  */

.testimonial .container .owl-carousel{
    margin-top: 50px;
}
.testimonial .container .slider-item{
    background-color: var(--main-color);
    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    padding: 50px 0px;
    /* box-shadow: 18px 0 87px rgb(10 15 70 / 7%); */
}

.testimonial .container .slider-item .apostrophe{
    text-align: center;
    font-size: 100px;
    line-height: 70px;
    /* color: var(--main-color); */
    color: #fff;
}

.testimonial .container .slider-item .msg{
    font-size: 24px;
    text-align: center;
    font-style: italic;
    /* color: #636e72; */
    color: #fff;
    padding: 0px 45px;
}

.testimonial .container .slider-item .client{
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 20px;
}

.testimonial .container .slider-item .client .client-img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-right: 20px;
}
.testimonial .container .slider-item .client .client-details .name{
    font-family: var(--extra-font);
    font-weight: bold;
    color: #fff;
}

.testimonial .container .slider-item .client .client-details .passion{
    color: #fff;
}


/* from here there are some overridden code of owl carousel css  */
.owl-dot span{
    background-color: #C4CBEC !important;
}

.owl-dots .active{
    border: 2px solid var(--main-color) !important;
    border-radius: 50%;
}
.owl-dots .active span{
    background-color: var(--main-color) !important;
    
}
/* overridden code has been over here  */


/* here ended the testimonial section  */


/* here started the contact us section  */
.contact-us .container{
    background-color: #0B1C77;
    height: auto;
    padding: 120px 100px;
    border-radius: 20px;
}

.contact-us .container .title span{
    color: #fff;
    font-family: var(--extra-font);
    font-size: 18px;
    font-weight: bold;
    color: var(--main-color);
}
.contact-us .container .title h2{
    color: #fff;
    font-family: var(--extra-font);
}
.contact-us .container .row form .form-elements{
    height: 60px;
}

.contact-us .container .row form .submit-btn{
    width: 100%;
    color: #fff;
    background-color: var(--main-color);
    padding: 15px 0px;
    border-radius: 10px;

}
.contact-us .container .row .col .element{
    display: flex;
    justify-content: space-around;
    width: 300px;
    align-items: center;
    margin: 40px 50px;
}

.contact-us .container .row .col .element .icon{
    background-color: #6E7FD1;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-us .container .row .col .element .icon i{
    font-size: 20px;
    color: #fff;
}


.contact-us .container .row .col .element .details .title{
    color: #fff;
    font-weight: bold;
    font-family: var(--extra-font);
    letter-spacing: 1px;
}

.contact-us .container .row .col .element .tagline{
    color: #B0B4C2;
}
/* here ended the contact us section  */
/* *********************************code ended******************************* */